header {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position-x: 20px;
    height:70px;
    width:100%;
    color: white;
    border-bottom: 1px solid #CCCCCC;
}
