section.filters{
    position: relative;
    height: 70px;
    width: inherit;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    position: absolute;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    right: 30px;
    top: 11px;
}
section.filters .locations{
    border-right: 1px solid #DDDDDD
}

section.filters .locations, .amenities {
    height: 100%;
    width: 25%;
    float: left;
    padding-left: 55px;
}

section.filters .locations h3, .amenities h3 {
    font-size: 18px;
    font-weight: 600;
    position: relative;
    bottom: 5px;
}

section.filters .locations h4, .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    position: relative;
    bottom: 20px;
}

button:hover {
    opacity: 0.9;
}

section.filters .popover {
    background-color: #FAFAFA;
    border: #DDDDDD 1px solid;
    border-radius: 4px;
    list-style-type: none;
    position: relative;
    width: 106%;
    right: 55px;
    margin-top: 0px;
    bottom: 25px;
    margin: 0%;
}

.popover ul {
    right: 0px;
    list-style-type: none;
    right: 10px;
}

.amenities ul {
    padding-top: 35px;
    padding-bottom: 35px;
}

.locations ul h2{
    margin: 0;
    padding-top: 10px;
}

.locations .popover{
    padding-bottom: 50px;
}

.amenities li, .locations li {
    line-height: 1.5;
}

.popover {
    display: none;
}

.locations:hover .popover {
    display: block;
}
.amenities:hover .popover {
    display: block;
}
